
.box{
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;
   
}
.box-link{
    text-decoration: none;
    color: black;
}
.box-link:hover{
    text-decoration: none;
    color: rgb(30, 120, 100);
}
.btnicon{
    width: 12px;
    height: 12px;
}